:root {
	--dark-primary: #e69a29;
	--primary: #BEFA00;
	--light-primary: #f9ffe6;
	--dark-additional: #4517af;
	--additional: #5C2CD0;
	--light-additional: #eae2ff;
	--black: #161616;
    --grey: #d8d8d8;
	--light-grey: #f4f4f4;
	--white: #ffffff;

	/* Кнопка удаления другая, чтобы не перепутать */
	--delete-primary: #F48162;
	--delete-light-primary: #ffe5dd;
	--border-radius: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--black);
}

html{
	scroll-behavior: smooth;
}

body {
	position: relative;
	min-height: calc(100vh - 80px);
	margin: 0;
	font-family: "Open Sans", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p{
	display: inline-block;
	margin: 0 10px 0 0;
}

h1 {
    font-size: clamp(20px, 2.1vw, 24px);
    white-space: nowrap;
    color: var(--primary);
    font-weight: 600;
    font-style: normal;
	display: inline-block;
	font-family: "Yomogi", serif;
	text-transform: uppercase;
}

h2 {
    font-size: clamp(16px, 2vw, 20px);
	white-space: nowrap;
	color: var(--black);
	font-family: "Mulish", serif;
}

h3 {
    font-size: clamp(14px, 1.5vw, 18px);
    margin-top: 1rem;
    color: var(--black);
    margin-bottom: 10px;
    font-weight: 400;
    text-align: left;
	font-family: "Mulish", serif;
}

header{
	height: 80px;
	width: 100%;
	padding: 10px 50px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	top: 0;
	left: 0;
	position: fixed;
	background-color: var(--primary);
	z-index: 100;
}

.header-block-right-part {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header-block-left-part{
	display: flex;
	align-items: center;

	& h1:not(:first-child){
		margin-left: 1rem;
	}

	& span {
		margin-left: 1rem;
		border-left: 5px solid var(--black);
		padding-left: 1rem;
		width: 300px;
        font-size: 0.8rem;
	}
}

.header-block-right-part-avatar{
	height: 40px;
	width: 40px;
	object-fit: cover;
	border-radius: 50%;
}

.header-block-right-part-name{
	margin-left: 1rem;
	color: var(--black);
}

.main-block{
	padding: 30px;
	margin-top: 80px;
}

.main-block-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (min-width: 2200px) {
    .main-block-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1800px) {
    .main-block-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1280px) {
    .main-block-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main-block-list {
        grid-template-columns: 1fr;
    }
}

.main-block-menu {
    display: flex;
    justify-content: center;
    flex: 1 1;
    margin-bottom: 20px;
    position: sticky;
    top: 90px;
	z-index: 10;


	& > button:not(:last-child){
		margin-right: 0.5rem;
	}
}

.filed-button{
	height: 30px;
	border: none;
	background: var(--additional);
	color: var(--white);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--dark-additional);
		transition: background-color 0.6s ease;
	}
}

.grey-button{
	height: 30px;
	border: none;
	background: var(--grey);
	color: var(--black);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	opacity: 1;
	outline: none;

	&:hover{
		opacity: 0.8;
		transition: opacity 0.6s ease;
	}
}

.unfiled-button{
	height: 30px;
	border: none;
	background: none;
	border: 1px solid var(--additional);
	color: var(--additional);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--light-additional);
		transition: background-color 0.6s ease;
	}
}

.red-button{
	height: 30px;
	border: none;
	background: none;
	border: 1px solid var(--delete-primary);
	color: var(--delete-primary);
	padding: 2px 12px 3px;
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;

	&:hover{
		background-color: var(--delete-light-primary);
		transition: background-color 0.6s ease;
	}
}

footer{
	transform: translateY(100%);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 10px 30px;
	background-color: var(--primary);
	color: var(--black);
	text-align: center;
}

.card-block{
	align-self: start;
	border-radius: var(--border-radius);
	break-inside: avoid;
	background-color: var(--white);
    border: 1px solid var(--black);
}

.card-block.shown{
	border: 1px solid var(--dark-primary);
}

.card-block-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
}

.card-block-content{
	padding: 0 1.5rem 1.5rem 1.5rem;
}

.card-block-title-name{
	flex-grow: 1;
    text-align: center;
    margin-right: -48px;
}

.card-block-title-button{
	background: none;
	border: none;
	color: var(--dark-primary);
	cursor: pointer;

	&:hover{
		color: var(--primary);
	}
}

.card-block-title-delete-button, .card-block-title-edit-button{
	height: 14px;
	margin-left: 0.5rem;
	cursor: pointer;
	opacity: 0.2;

	&:hover{
		opacity: 1;
		transition: opacity 0.5s ease;
	}
}

.card-block-brands-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-block-brands-title{
	border-top: 1px solid var(--light-grey);
    padding-top: 5px;
    margin-top: 10px;
}

.card-block-brands-list-item {
	cursor: default;
	margin-top: 0.5rem;

	&:not(:last-child){
		margin-right: 0.5rem;
	}
}

.card-block-brands-list-item-inner{
	display: block;
	padding: 5px 10px;
	border-radius: var(--border-radius);
	background-color: var(--light-grey);
}

.form-block {
    padding: 20px;
    border-radius: var(--border-radius);
    display: inline-block;
    background-color: var(--white);
    border: 1px solid var(--additional);
    min-width: 320px;

	& h3{
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

.form-block.inner{
	box-shadow: none;
	padding: 20px 0;
}

.form-input-block{
	margin-top: 0.5rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	& input{
		margin-left: 0.5rem;
	}
}

input, select, textarea {
	padding: 5px 10px;
	border: 1px solid var(--grey);
	border-radius: var(--border-radius);
	display: block;
	min-width: 100px;
	outline: none;
}

textarea{
	width: 100%;

}

label{
	display: block;
	margin-right: 5px;
	font-size: 0.8rem;
}

.form-select-block-inner {
    display: flex;
    margin-bottom: 0.5rem;
	align-items: center;

	& img {
		height: 14px;
		width: 14px;
		cursor: pointer;
		opacity: 0.2;
		margin-left: 0.5rem;

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.main-block-form {
    display: flex;
    margin-bottom: 20px;
	align-items: flex-start;

	& > div:not(:last-child){
		margin-right: 20px;
	}
}

.inner-card-block {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--additional);

	&:not(:last-child){
		margin-bottom: 0.5rem;
	}

	&:last-child{
		margin-bottom: 1rem;
	}
}

.inner-card-block-title{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: center;
}

.inner-card-block-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 5px 0.5rem;
    border: 1px solid var(--black);
    justify-content: space-between;
    width: 70px;

	& img {
		height: 14px;
		width: 14px;
		cursor: pointer;
		opacity: 0.3;

		&:hover{
			opacity: 1;
			transition: opacity 0.5s ease;
		}
	}
}

.inner-card-block-description {
    padding: 0.5rem 0;
}

.card-block-subtitle {
    flex-grow: 1;
    text-align: center;
    padding: 5px;
    border-radius: var(--border-radius);
    background: var(--primary);
}

.card-block-tasks-title {
    margin-top: 10px;
    margin-bottom: 0.5rem;
    text-align: center;
}

.card-block-subitems-list {
    display: flex;
    flex-wrap: wrap;
}

.card-block-subitems-list-item {
    padding: 0.5rem;
    border: 1px solid var(--grey);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--border-radius);
}

.buttons-block {
    display: flex;
    justify-content: center;

	& button:not(:last-child){
		margin-right: 0.5rem;
	}
}

.form-block .buttons-block{
	margin-top: 1rem;
}


.inner-card-block-title-inner{
	display: flex;
	justify-content: space-between;
}

.card-block .form-block{
	width: 100%;
	min-width: inherit;
	border: none;
}